body {
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
    background-color: #cccccc;
  }
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
}
.left {
    display: block;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    
}
h3 {
    text-align: center;
    color: white;
}
.right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.Nazev {
    text-align: center;
    font-size: large;
    color: white;
}
.Hardware, .Software, h4{
   text-align: center;
   color: white;
}
